language: ruby

sudo: false

before_install:
  - gem update --system
  - gem install bundler

rvm:
  - 1.8.7
  - 1.9.3
  - 2.0.0
  - 2.1
  - 2.2.6
  - 2.3.3
  - 2.4.0
  - ruby-head
  - jruby

gemfile:
  - Gemfile.3-2
  - Gemfile.4-0
  - Gemfile.4-1
  - Gemfile

matrix:
  exclude:
    - rvm: 1.8.7
      gemfile: Gemfile.4-0
    - rvm: 1.8.7
      gemfile: Gemfile.4-1
    - rvm: 1.8.7
      gemfile: Gemfile
    - rvm: 2.4.0
      gemfile: Gemfile.3-2
    - rvm: 2.4.0
      gemfile: Gemfile.4-0
    - rvm: 2.4.0
      gemfile: Gemfile.4-1
    - rvm: ruby-head
      gemfile: Gemfile.3-2
    - rvm: ruby-head
      gemfile: Gemfile.4-0
    - rvm: ruby-head
      gemfile: Gemfile.4-1

notifications:
  email: false
