source 'http://rubygems.org'

gemspec

gem 'rails', github: 'rails/rails', branch: 'master'

# Current dependencies of edge rails
gem 'journey', github: 'rails/journey', branch: 'master'
gem 'activerecord-deprecated_finders' , github: 'rails/activerecord-deprecated_finders', branch: 'master'
